<div class="row">
  <div class="col-md-12 col-xs-12">
    <h1>Monetary</h1>
    <h3>Sends money to your pals.</h3>
    <br><br>
    <%=link_to new_user_registration_path do%>
      <button class="get_started">Get Started</button>
    <%end%>
  </div>
</div>
