<div class="row main">
  <div class="col-md-12 col-xs-12">
    <div class="content">
      <h1>Monetary</h1>
      <h3>Send money to your pals.</h3>
      <%=link_to new_user_registration_path do%>
      <button class="get_started">Get Started</button>
      <%end%>
      <p>already a member? <%=link_to "Log In", new_user_session_path%></p>
    </div>
  </div>
</div>
