<div class="row">
  <div class="col-md-12 col-xs-12">
    <h3>Send money to your pals.</h3>
    <%=link_to new_user_registration_path do%>
      <button class="get_started">Get Started</button>
    <%end%>
  </div>
</div>
